# Social Registry Database
STAFF_PORTAL_API_DB_USERNAME_SR='postgres'
STAFF_PORTAL_API_DB_PASSWORD_SR='password'
STAFF_PORTAL_API_DB_HOSTNAME_SR='localhost'
STAFF_PORTAL_API_DB_PORT_SR='5432'
STAFF_PORTAL_API_DB_DBNAME_SR='socialregistrydb'

# Background Task Database
STAFF_PORTAL_API_DB_USERNAME_BG_TASK='postgres'
STAFF_PORTAL_API_DB_PASSWORD_BG_TASK='password'
STAFF_PORTAL_API_DB_HOSTNAME_BG_TASK='localhost'
STAFF_PORTAL_API_DB_PORT_BG_TASK='5432'
STAFF_PORTAL_API_DB_DBNAME_BG_TASK='bgtaskdb'
