git+https://github.com/openg2p/openg2p-fastapi-common@develop#subdirectory=openg2p-fastapi-common
git+https://github.com/OpenG2P/openg2p-pbms-bg-tasks.git@v3.1.0#subdirectory=openg2p-bg-task-models
git+https://github.com/OpenG2P/openg2p-g2p-bridge.git@v2.1.0#subdirectory=openg2p-g2p-bridge-models
